<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
	<link
	rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	crossorigin="anonymous"
  />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/homepage.css" />
    <title>Chat App</title>
  </head>
  <body>
    <main class="content">
		<div class="container p-0">
			<div class="card text-center">
				<div class="card-header">
				  <ul class="nav nav-pills card-header-pills">
					<li class="nav-item">
						<a class="nav-link" href="#"><h2>groupChat</h2></a>
					</li>
					 <div style="margin-left: 200px;  margin-top: 5px;">
						<button class="btn btn-outline-success" id="createGroup">
							Create Group
						  </button>
					 </div>
					 <div style="margin-left: 50px;  margin-top: 5px;">
						<button class="btn btn-outline-primary" id="addToGroup">
							Add to Group
						  </button>
					 </div>
					 <div style="margin-left: 50px;  margin-top: 5px;">
						<button class="btn btn-outline-success" id="groups">
							Groups
						  </button>
					 </div>
					 <div style="margin-left: 50px;  margin-top: 5px;">
						<button class="btn btn-outline-primary" id="delete">
							Delete From Group
						  </button>
					 </div>
					 <div style="margin-left: 50px;  margin-top: 5px;">
						<button id="groupMembers"  class="btn btn-outline-success" >Members</button>
					 </div>
					 <div style="margin-left: 80px;  margin-top: 5px;">
						<button class="btn btn-outline-danger" id="logout">
							Log Out
						  </button>
					 </div>
				  </ul>
				</div>
				</div>

				
			<div class="card">
				<div class="row g-0">
					<div class="col-12 col-lg-5 col-xl-3 border-right" id="sidesection">
	
						<div class="px-4 d-none d-md-block">
							<div class="d-flex align-items-center">
								<div class="flex-grow-1">
									<input type="text" class="form-control my-3" placeholder="Search...">
								</div>
							</div>
						</div>
						
						
						<hr class="d-block d-lg-none mt-1 mb-0">
					</div>
					<div class="col-12 col-lg-7 col-xl-9">
						<div class="py-2 px-4 border-bottom d-none d-lg-block">
							<div class="d-flex align-items-center py-1">
								<div class="flex-grow-1 pl-3" id="chatGroupName">
									<!-- <strong>Sharon Lessman</strong> -->
									<!-- <div class="text-muted small"><em>Typing...</em></div> -->
								</div>
								<!-- <div style="margin-left: 50px;  margin-top: 5px;">
									<button class="btn btn-outline-danger" id="logout">
										Log Out
									  </button>
								 </div> -->
							</div>
						</div>
						<div class="user_info" id="groupNameHeading">
						<div class="position-relative">
							<div class="chat-messages p-4" id="chathub">
						</div>
	
						<div class="flex-grow-0 py-3 px-4 border-top">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Type your message" id="msgtextarea">
								<button class="btn btn-primary" id="msgBtn">Send</button>
							</div>
						</div>
	
					</div>
				</div>
			</div>
		</div>
	</main>
	<script src="http://localhost:4000/socket.io/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
	<script src="/js/homepage.js"></script>
	<script src="/js/group.js"></script>
  </body>
</html>