<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Expense Tracker App</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>Expense Tracker App</h1>
    </header>

    <section class="container">
      <form id="my-form"
       action="/addExpense"
       method="POST"
      >
        <h1>Check Details...</h1>
        <div class="msg"></div>
        <div>
          <label for="amount">Choose ExpenseAmount:</label>
          <input type="number" id="amount" name="amount"/>
        </div>
        <div>
          <label for="description">Choose Description:</label>
          <input type="text" id="description" name="description" />
        </div>
        <div>
          <label for="category">Choose a Category:</label>
          <select id="Choice" class="main-selection" name="category">
            <option value="---Category---" selected>---Category---</option>
            <option  value="Electronics">
              Electronics
            </option>
            <option  value="Fashion">Fashion</option>
            <option  value="Home & kitchen">
              Home & kitchen
            </option>
            <option  value="Gaming">Gaming</option>
            <option  value="Flights">Flights</option>
            <option  value="Payment & Bookings">
              Payment & Bookings
            </option>
            <option  value="Sports">Sports</option>
            <option  value="Bills & EMI's">
              Bills & EMI's
            </option>
          </select>
        </div>
        <br />
        <input class="btn" type="submit" value="Add Expense" />
      </form>

      <ul id="users"></ul>

      <!-- <ul class="items">
        <li class="item">Item 1</li>
        <li class="item">Item 2</li>
        <li class="item">Item 3</li>
      </ul> -->
    </section>

    <script src="main.js"></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"
    integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  </body>
</html>

<!-- <input
type="hidden"
name="category"
value="default_value"
id="categoryInput"
/> -->