<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login | Sign Up</title>
    <link rel="stylesheet" href="/css/user.css">
    <script src="/js/user.js" defer></script>
  </head>
  <body style="margin-top: 100px;">
    <div class="cont">
        <div class="form sign-in">
            <h2>Welcome</h2>
            <label>
                <span>Email</span>
                <input type="email" />
            </label>
            <label>
                <span>Password</span>
                <input type="password" />
            </label>
             <div class="forgot-pass">
              <a href="#">Forgot password?</a>
             </div>
            <button type="button" class="submit" id="loginBtn">Sign In</button>
         
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                 
                    <h3>Don't have an account? Please Sign up!<h3>
                </div>
                <div class="img__text m--in">
                
                    <h3>If you already has an account, just sign in.<h3>
                </div>
                <div class="img__btn">
                    <span class="m--up">Sign Up</span>
                    <span class="m--in">Sign In</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>Create your Account</h2>
                <label for="name">
                    <span>Name</span>
                    <input type="text" id="name" />
                </label>
                <label for="email">
                    <span>Email</span>
                    <input type="email" id="email" />
                </label>
                <label for="phone">
                    <span>Phone</span>
                    <input type="number" id="phone" />
                </label>
                <label for="password">
                    <span>Password</span>
                    <input type="password" id="password"/>
                </label>
                <button type="button" class="submit"  id="signUpBtn">Sign Up</button>
                
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  </body>
</html>